@layer page {
    body {
        background: white;
    }


    #nita--intro {
        gap: 10%;

        padding: 10%;

        background: black;
        background-image: url('/assets/frontpage-bg1.jpg');
    }

    #nita--intro img {
        width: 20%;
    }

    #nita--intro div {
        text-align: right;

        padding: 4%;
        max-width: none;

        background: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(4px);

        border-radius: 20px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
    }

    #nita--ita {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
    }

    .section-block {
        background: rgba(0, 0, 0, 0.8);
        color: rgba(255, 255, 255, 0.8);
        max-width: 40%;
        height: 100%;
        text-align: left;
        padding: 4%;
    }

    .section-block h2 {
        color: rgba(255, 255, 255, 0.6);
    }
}
