@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: 'ITA Reskinned';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/ITA-Reskinned-Regular-2026-05-20-190552.otf') format('opentype');
}

@font-face {
    font-family: 'ITA TO';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/ITA-Reskinned-T.O.-Ver.-Regular-2026-05-20-191350.otf') format('opentype');
}

@layer base, structure, page, component;

@layer base {
    :root {
        --font-primary: 'Teachers', 'Noto Sans';
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: var(--font-primary);
        font-size: 30px;
        font-weight: 300;
        line-height: 1.5;
    }

    section {
        padding: 2% 20%;
    }

    section.wide {
        padding: 2%;
    }

    section.centered {
        text-align: center;
    }

    section.flex-between {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
    }

    section.flex-around {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        padding: 0;
    }

    section.no-padding {
        padding: 0;
    }

    section.fixed-bg {
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-attachment: fixed !important;
    }

    :root {
        --red: #f69200;
        --green: #a6b727;
        --yellow: #fec306;
        --blue: #418ab3;

        --bg: #111;
        --text: #ccc;

        --text-bold: #ddd;

        --anchor: #aaa;
        --anchor-hover: #777;

        --header: #ddd;

        --th-bg: rgba(255, 255, 255, 0.15);
        --hr-bg: #333;

        --code-bg: #222;
        --code-text: #ddd;

        --debug-primary: rgb(255, 0, 0);
        --debug-secondary: rgb(255, 129, 129);

        --div-padding: 4%;
    }

    .col.red,
    .col.red * {
        color: var(--red) !important;
    }

    .col.green,
    .col.green * {
        color: var(--green) !important;
    }

    .col.yellow,
    .col.yellow * {
        color: var(--yellow) !important;
    }

    .col.blue,
    .col.blue * {
        color: var(--blue) !important;
    }

    b,
    strong {
        font-weight: 600;

        transition:
            text-shadow 0.2s,
            color 0.2s;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    th {
        font-weight: 600;
    }

    h1 {
        margin: 10px 0 20px 0;
    }

    hr {
        border: none;
        height: 5px;
        background-color: var(--hr-bg);
        border-radius: 2px;
        margin: 10px 0;
    }

    a.plain {
        text-decoration: none;
        color: var(--text);
    }

    a.link {
        display: inline-block;
        margin: 0 20px;
        text-decoration: none;
        color: white;

        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        gap: 20px;
    }

    a.link img {
        width: 20px;
    }

    a.link:hover {
        text-decoration: underline;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        margin: 2%;
    }

    a:not(.plain):not(.link) {
        text-decoration: none;

        color: var(--anchor);

        transition: all 0.2s ease;
    }

    a:not(.plain):not(.link):hover {
        text-decoration: underline;
        color: var(--anchor-hover);
    }

    .dim {
        opacity: 0.7;
    }

    .ita {
        font-family: 'ITA Reskinned', 'Noto Sans';
    }

    .jp {
        font-family: 'Sawarabi Gothic';
        font-size: 20px;
    }

    @media (max-width: 768px) {
        body,
        p,
        blockquote,
        a {
            font-size: 15px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 30px;
        }

        section.fixed-bg {
            background-attachment: scroll !important;
        }
    }

    /* ==================== Debug ==================== */
    /* make sure to comment out when pushing to production */

    /* * {
        outline: 2px solid var(--debug-primary) !important;
    }

    *:not(div) {
        outline: 2px solid var(--debug-secondary) !important;
    } */
}
